In [270]:
from pyspark.sql import SparkSession
from pyspark.ml.regression import LinearRegression

spark = SparkSession.builder.appName('Linear_regression').getOrCreate()
data = spark.read.csv('./car_prices.csv', header=True, inferSchema=True)
data.show(3)

+----+----+--------+----------+-----+------------+-----------------+-----+---------+--------+-----+--------+--------------------+-------+------------+--------------------+
|year|make|   model|      trim| body|transmission|              vin|state|condition|odometer|color|interior|              seller|    mmr|sellingprice|            saledate|
+----+----+--------+----------+-----+------------+-----------------+-----+---------+--------+-----+--------+--------------------+-------+------------+--------------------+
|2015| Kia| Sorento|        LX|  SUV|   automatic|5xyktca69fg566472|   ca|      5.0| 16639.0|white|   black|kia motors americ...|20500.0|     21500.0|Tue Dec 16 2014 1...|
|2015| Kia| Sorento|        LX|  SUV|   automatic|5xyktca69fg561319|   ca|      5.0|  9393.0|white|   beige|kia motors americ...|20800.0|     21500.0|Tue Dec 16 2014 1...|
|2014| BMW|3 Series|328i SULEV|Sedan|   automatic|wba3c1c51ek116351|   ca|     45.0|  1331.0| gray|   black|financial service...|31900.0|     30000.0|Thu Jan 15 2015 0...|
+----+----+--------+----------+-----+------------+-----------------+-----+---------+--------+-----+--------+--------------------+-------+------------+--------------------+
only showing top 3 rows

In [271]:
data.printSchema()

root
 |-- year: integer (nullable = true)
 |-- make: string (nullable = true)
 |-- model: string (nullable = true)
 |-- trim: string (nullable = true)
 |-- body: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- vin: string (nullable = true)
 |-- state: string (nullable = true)
 |-- condition: double (nullable = true)
 |-- odometer: double (nullable = true)
 |-- color: string (nullable = true)
 |-- interior: string (nullable = true)
 |-- seller: string (nullable = true)
 |-- mmr: double (nullable = true)
 |-- sellingprice: double (nullable = true)
 |-- saledate: string (nullable = true)

In [272]:
from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType

# 创建StringIndexer对象
stringIndexer = StringIndexer(inputCol="make", outputCol="make_index")

# 使用StringIndexer对象进行转换
indexedData = stringIndexer.fit(data).transform(data)

# 将"make_index"列转换为整数类型
indexedData = indexedData.withColumn("make_index", col("make_index").cast(IntegerType()))

# 替换"make"列为"make_index"列
indexedData = indexedData.withColumn("make", col("make_index")).drop("make_index")

# 查看转换后的数据
data = indexedData
data.show()

+----+----+-------------------+--------------------+-----------+------------+-----------------+-----+---------+--------+------+--------+--------------------+-------+------------+--------------------+
|year|make|              model|                trim|       body|transmission|              vin|state|condition|odometer| color|interior|              seller|    mmr|sellingprice|            saledate|
+----+----+-------------------+--------------------+-----------+------------+-----------------+-----+---------+--------+------+--------+--------------------+-------+------------+--------------------+
|2015|   8|            Sorento|                  LX|        SUV|   automatic|5xyktca69fg566472|   ca|      5.0| 16639.0| white|   black|kia motors americ...|20500.0|     21500.0|Tue Dec 16 2014 1...|
|2015|   8|            Sorento|                  LX|        SUV|   automatic|5xyktca69fg561319|   ca|      5.0|  9393.0| white|   beige|kia motors americ...|20800.0|     21500.0|Tue Dec 16 2014 1...|
|2014|   7|           3 Series|          328i SULEV|      Sedan|   automatic|wba3c1c51ek116351|   ca|     45.0|  1331.0|  gray|   black|financial service...|31900.0|     30000.0|Thu Jan 15 2015 0...|
|2015|  26|                S60|                  T5|      Sedan|   automatic|yv1612tb4f1310987|   ca|     41.0| 14282.0| white|   black|volvo na rep/worl...|27500.0|     27750.0|Thu Jan 29 2015 0...|
|2014|   7|6 Series Gran Coupe|                650i|      Sedan|   automatic|wba6b2c57ed129731|   ca|     43.0|  2641.0|  gray|   black|financial service...|66000.0|     67000.0|Thu Dec 18 2014 1...|
|2015|   2|             Altima|               2.5 S|      Sedan|   automatic|1n4al3ap1fn326013|   ca|      1.0|  5554.0|  gray|   black|enterprise vehicl...|15350.0|     10900.0|Tue Dec 30 2014 1...|
|2014|   7|                 M5|                Base|      Sedan|   automatic|wbsfv9c51ed593089|   ca|     34.0| 14943.0| black|   black|the hertz corpora...|69000.0|     65000.0|Wed Dec 17 2014 1...|
|2014|   1|              Cruze|                 1LT|      Sedan|   automatic|1g1pc5sb2e7128460|   ca|      2.0| 28617.0| black|   black|enterprise vehicl...|11900.0|      9800.0|Tue Dec 16 2014 1...|
|2014|  19|                 A4|2.0T Premium Plus...|      Sedan|   automatic|wauffafl3en030343|   ca|     42.0|  9557.0| white|   black|  audi mission viejo|32100.0|     32250.0|Thu Dec 18 2014 1...|
|2014|   1|             Camaro|                  LT|Convertible|   automatic|2g1fb3d37e9218789|   ca|      3.0|  4809.0|   red|   black|  d/m auto sales inc|26300.0|     17500.0|Tue Jan 20 2015 0...|
|2014|  19|                 A6|3.0T Prestige qua...|      Sedan|   automatic|wauhgafc0en062916|   ca|     48.0| 14414.0| black|   black|   desert auto trade|47300.0|     49750.0|Tue Dec 16 2014 1...|
|2015|   8|             Optima|                  LX|      Sedan|   automatic|5xxgm4a73fg353538|   ca|     48.0|  2034.0|   red|     tan|  kia motors finance|15150.0|     17700.0|Tue Dec 16 2014 1...|
|2015|   0|             Fusion|                  SE|      Sedan|   automatic|3fa6p0hdxfr145753|   ca|      2.0|  5559.0| white|   beige|enterprise vehicl...|15350.0|     12000.0|Tue Jan 13 2015 1...|
|2015|   8|            Sorento|                  LX|        SUV|   automatic|5xyktca66fg561407|   ca|      5.0| 14634.0|silver|   black|kia motors americ...|20600.0|     21500.0|Tue Dec 16 2014 1...|
|2015|   2|             Altima|               2.5 S|      Sedan|   automatic|1n4al3ap5fc124223|   ca|      2.0| 11398.0| black|   black|enterprise vehicl...|14750.0|     14100.0|Tue Dec 23 2014 1...|
|2014|  19|                 Q5|2.0T Premium Plus...|        SUV|   automatic|wa1lfafpxea085074|   ca|     49.0|  7983.0| white|   black|audi north scotts...|37100.0|     40000.0|Thu Dec 18 2014 1...|
|2014|   1|             Camaro|                  LS|      Coupe|   automatic|2g1fa1e39e9134494|   ca|     17.0| 13441.0| black|   black|wells fargo deale...|17750.0|     17000.0|Tue Dec 30 2014 1...|
|2014|   7|           6 Series|                650i|Convertible|   automatic|wbayp9c53ed169260|   ca|     34.0|  8819.0| black|   black|the hertz corpora...|68000.0|     67200.0|Wed Dec 17 2014 1...|
|2015|   1|             Impala|                 LTZ|      Sedan|   automatic|2g1165s30f9103921|   ca|     19.0| 14538.0|silver|   black|enterprise vehicl...|24300.0|      7200.0|Tue Jul 07 2015 0...|
|2014|   7|           5 Series|                528i|      Sedan|   automatic|wba5a5c51ed501631|   ca|     29.0| 25969.0| black|   black|financial service...|34200.0|     30000.0|Tue Feb 03 2015 0...|
+----+----+-------------------+--------------------+-----------+------------+-----------------+-----+---------+--------+------+--------+--------------------+-------+------------+--------------------+
only showing top 20 rows

In [273]:
# 处理state列
stringIndexer = StringIndexer(inputCol="state", outputCol="state_index")
indexedData = stringIndexer.fit(data).transform(data)
indexedData = indexedData.withColumn("state_index", col("state_index").cast(IntegerType()))
indexedData = indexedData.withColumn("state", col("state_index")).drop("state_index")

data = indexedData
data.show()

+----+----+-------------------+--------------------+-----------+------------+-----------------+-----+---------+--------+------+--------+--------------------+-------+------------+--------------------+
|year|make|              model|                trim|       body|transmission|              vin|state|condition|odometer| color|interior|              seller|    mmr|sellingprice|            saledate|
+----+----+-------------------+--------------------+-----------+------------+-----------------+-----+---------+--------+------+--------+--------------------+-------+------------+--------------------+
|2015|   8|            Sorento|                  LX|        SUV|   automatic|5xyktca69fg566472|    1|      5.0| 16639.0| white|   black|kia motors americ...|20500.0|     21500.0|Tue Dec 16 2014 1...|
|2015|   8|            Sorento|                  LX|        SUV|   automatic|5xyktca69fg561319|    1|      5.0|  9393.0| white|   beige|kia motors americ...|20800.0|     21500.0|Tue Dec 16 2014 1...|
|2014|   7|           3 Series|          328i SULEV|      Sedan|   automatic|wba3c1c51ek116351|    1|     45.0|  1331.0|  gray|   black|financial service...|31900.0|     30000.0|Thu Jan 15 2015 0...|
|2015|  26|                S60|                  T5|      Sedan|   automatic|yv1612tb4f1310987|    1|     41.0| 14282.0| white|   black|volvo na rep/worl...|27500.0|     27750.0|Thu Jan 29 2015 0...|
|2014|   7|6 Series Gran Coupe|                650i|      Sedan|   automatic|wba6b2c57ed129731|    1|     43.0|  2641.0|  gray|   black|financial service...|66000.0|     67000.0|Thu Dec 18 2014 1...|
|2015|   2|             Altima|               2.5 S|      Sedan|   automatic|1n4al3ap1fn326013|    1|      1.0|  5554.0|  gray|   black|enterprise vehicl...|15350.0|     10900.0|Tue Dec 30 2014 1...|
|2014|   7|                 M5|                Base|      Sedan|   automatic|wbsfv9c51ed593089|    1|     34.0| 14943.0| black|   black|the hertz corpora...|69000.0|     65000.0|Wed Dec 17 2014 1...|
|2014|   1|              Cruze|                 1LT|      Sedan|   automatic|1g1pc5sb2e7128460|    1|      2.0| 28617.0| black|   black|enterprise vehicl...|11900.0|      9800.0|Tue Dec 16 2014 1...|
|2014|  19|                 A4|2.0T Premium Plus...|      Sedan|   automatic|wauffafl3en030343|    1|     42.0|  9557.0| white|   black|  audi mission viejo|32100.0|     32250.0|Thu Dec 18 2014 1...|
|2014|   1|             Camaro|                  LT|Convertible|   automatic|2g1fb3d37e9218789|    1|      3.0|  4809.0|   red|   black|  d/m auto sales inc|26300.0|     17500.0|Tue Jan 20 2015 0...|
|2014|  19|                 A6|3.0T Prestige qua...|      Sedan|   automatic|wauhgafc0en062916|    1|     48.0| 14414.0| black|   black|   desert auto trade|47300.0|     49750.0|Tue Dec 16 2014 1...|
|2015|   8|             Optima|                  LX|      Sedan|   automatic|5xxgm4a73fg353538|    1|     48.0|  2034.0|   red|     tan|  kia motors finance|15150.0|     17700.0|Tue Dec 16 2014 1...|
|2015|   0|             Fusion|                  SE|      Sedan|   automatic|3fa6p0hdxfr145753|    1|      2.0|  5559.0| white|   beige|enterprise vehicl...|15350.0|     12000.0|Tue Jan 13 2015 1...|
|2015|   8|            Sorento|                  LX|        SUV|   automatic|5xyktca66fg561407|    1|      5.0| 14634.0|silver|   black|kia motors americ...|20600.0|     21500.0|Tue Dec 16 2014 1...|
|2015|   2|             Altima|               2.5 S|      Sedan|   automatic|1n4al3ap5fc124223|    1|      2.0| 11398.0| black|   black|enterprise vehicl...|14750.0|     14100.0|Tue Dec 23 2014 1...|
|2014|  19|                 Q5|2.0T Premium Plus...|        SUV|   automatic|wa1lfafpxea085074|    1|     49.0|  7983.0| white|   black|audi north scotts...|37100.0|     40000.0|Thu Dec 18 2014 1...|
|2014|   1|             Camaro|                  LS|      Coupe|   automatic|2g1fa1e39e9134494|    1|     17.0| 13441.0| black|   black|wells fargo deale...|17750.0|     17000.0|Tue Dec 30 2014 1...|
|2014|   7|           6 Series|                650i|Convertible|   automatic|wbayp9c53ed169260|    1|     34.0|  8819.0| black|   black|the hertz corpora...|68000.0|     67200.0|Wed Dec 17 2014 1...|
|2015|   1|             Impala|                 LTZ|      Sedan|   automatic|2g1165s30f9103921|    1|     19.0| 14538.0|silver|   black|enterprise vehicl...|24300.0|      7200.0|Tue Jul 07 2015 0...|
|2014|   7|           5 Series|                528i|      Sedan|   automatic|wba5a5c51ed501631|    1|     29.0| 25969.0| black|   black|financial service...|34200.0|     30000.0|Tue Feb 03 2015 0...|
+----+----+-------------------+--------------------+-----------+------------+-----------------+-----+---------+--------+------+--------+--------------------+-------+------------+--------------------+
only showing top 20 rows

In [274]:
# 处理model列
stringIndexer = StringIndexer(inputCol="model", outputCol="model_index")
indexedData = stringIndexer.fit(data).transform(data)
indexedData = indexedData.withColumn("model_index", col("model_index").cast(IntegerType()))
indexedData = indexedData.withColumn("model", col("model_index")).drop("model_index")

data = indexedData
data.show()

+----+----+-----+--------------------+-----------+------------+-----------------+-----+---------+--------+------+--------+--------------------+-------+------------+--------------------+
|year|make|model|                trim|       body|transmission|              vin|state|condition|odometer| color|interior|              seller|    mmr|sellingprice|            saledate|
+----+----+-----+--------------------+-----------+------------+-----------------+-----+---------+--------+------+--------+--------------------+-------+------------+--------------------+
|2015|   8|   40|                  LX|        SUV|   automatic|5xyktca69fg566472|    1|      5.0| 16639.0| white|   black|kia motors americ...|20500.0|     21500.0|Tue Dec 16 2014 1...|
|2015|   8|   40|                  LX|        SUV|   automatic|5xyktca69fg561319|    1|      5.0|  9393.0| white|   beige|kia motors americ...|20800.0|     21500.0|Tue Dec 16 2014 1...|
|2014|   7|    8|          328i SULEV|      Sedan|   automatic|wba3c1c51ek116351|    1|     45.0|  1331.0|  gray|   black|financial service...|31900.0|     30000.0|Thu Jan 15 2015 0...|
|2015|  26|  127|                  T5|      Sedan|   automatic|yv1612tb4f1310987|    1|     41.0| 14282.0| white|   black|volvo na rep/worl...|27500.0|     27750.0|Thu Jan 29 2015 0...|
|2014|   7|  398|                650i|      Sedan|   automatic|wba6b2c57ed129731|    1|     43.0|  2641.0|  gray|   black|financial service...|66000.0|     67000.0|Thu Dec 18 2014 1...|
|2015|   2|    0|               2.5 S|      Sedan|   automatic|1n4al3ap1fn326013|    1|      1.0|  5554.0|  gray|   black|enterprise vehicl...|15350.0|     10900.0|Tue Dec 30 2014 1...|
|2014|   7|  406|                Base|      Sedan|   automatic|wbsfv9c51ed593089|    1|     34.0| 14943.0| black|   black|the hertz corpora...|69000.0|     65000.0|Wed Dec 17 2014 1...|
|2014|   1|   18|                 1LT|      Sedan|   automatic|1g1pc5sb2e7128460|    1|      2.0| 28617.0| black|   black|enterprise vehicl...|11900.0|      9800.0|Tue Dec 16 2014 1...|
|2014|  19|   61|2.0T Premium Plus...|      Sedan|   automatic|wauffafl3en030343|    1|     42.0|  9557.0| white|   black|  audi mission viejo|32100.0|     32250.0|Thu Dec 18 2014 1...|
|2014|   1|   64|                  LT|Convertible|   automatic|2g1fb3d37e9218789|    1|      3.0|  4809.0|   red|   black|  d/m auto sales inc|26300.0|     17500.0|Tue Jan 20 2015 0...|
|2014|  19|  150|3.0T Prestige qua...|      Sedan|   automatic|wauhgafc0en062916|    1|     48.0| 14414.0| black|   black|   desert auto trade|47300.0|     49750.0|Tue Dec 16 2014 1...|
|2015|   8|   31|                  LX|      Sedan|   automatic|5xxgm4a73fg353538|    1|     48.0|  2034.0|   red|     tan|  kia motors finance|15150.0|     17700.0|Tue Dec 16 2014 1...|
|2015|   0|    1|                  SE|      Sedan|   automatic|3fa6p0hdxfr145753|    1|      2.0|  5559.0| white|   beige|enterprise vehicl...|15350.0|     12000.0|Tue Jan 13 2015 1...|
|2015|   8|   40|                  LX|        SUV|   automatic|5xyktca66fg561407|    1|      5.0| 14634.0|silver|   black|kia motors americ...|20600.0|     21500.0|Tue Dec 16 2014 1...|
|2015|   2|    0|               2.5 S|      Sedan|   automatic|1n4al3ap5fc124223|    1|      2.0| 11398.0| black|   black|enterprise vehicl...|14750.0|     14100.0|Tue Dec 23 2014 1...|
|2014|  19|  200|2.0T Premium Plus...|        SUV|   automatic|wa1lfafpxea085074|    1|     49.0|  7983.0| white|   black|audi north scotts...|37100.0|     40000.0|Thu Dec 18 2014 1...|
|2014|   1|   64|                  LS|      Coupe|   automatic|2g1fa1e39e9134494|    1|     17.0| 13441.0| black|   black|wells fargo deale...|17750.0|     17000.0|Tue Dec 30 2014 1...|
|2014|   7|  155|                650i|Convertible|   automatic|wbayp9c53ed169260|    1|     34.0|  8819.0| black|   black|the hertz corpora...|68000.0|     67200.0|Wed Dec 17 2014 1...|
|2015|   1|    7|                 LTZ|      Sedan|   automatic|2g1165s30f9103921|    1|     19.0| 14538.0|silver|   black|enterprise vehicl...|24300.0|      7200.0|Tue Jul 07 2015 0...|
|2014|   7|   34|                528i|      Sedan|   automatic|wba5a5c51ed501631|    1|     29.0| 25969.0| black|   black|financial service...|34200.0|     30000.0|Tue Feb 03 2015 0...|
+----+----+-----+--------------------+-----------+------------+-----------------+-----+---------+--------+------+--------+--------------------+-------+------------+--------------------+
only showing top 20 rows

In [275]:
# 处理transmission
stringIndexer = StringIndexer(inputCol="transmission", outputCol="transmission_index")
indexedData = stringIndexer.fit(data).transform(data)
indexedData = indexedData.withColumn("transmission_index", col("transmission_index").cast(IntegerType()))
indexedData = indexedData.withColumn("transmission", col("transmission_index")).drop("transmission_index")

data = indexedData
data.show()

+----+----+-----+--------------------+-----------+------------+-----------------+-----+---------+--------+------+--------+--------------------+-------+------------+--------------------+
|year|make|model|                trim|       body|transmission|              vin|state|condition|odometer| color|interior|              seller|    mmr|sellingprice|            saledate|
+----+----+-----+--------------------+-----------+------------+-----------------+-----+---------+--------+------+--------+--------------------+-------+------------+--------------------+
|2015|   8|   40|                  LX|        SUV|           0|5xyktca69fg566472|    1|      5.0| 16639.0| white|   black|kia motors americ...|20500.0|     21500.0|Tue Dec 16 2014 1...|
|2015|   8|   40|                  LX|        SUV|           0|5xyktca69fg561319|    1|      5.0|  9393.0| white|   beige|kia motors americ...|20800.0|     21500.0|Tue Dec 16 2014 1...|
|2014|   7|    8|          328i SULEV|      Sedan|           0|wba3c1c51ek116351|    1|     45.0|  1331.0|  gray|   black|financial service...|31900.0|     30000.0|Thu Jan 15 2015 0...|
|2015|  26|  127|                  T5|      Sedan|           0|yv1612tb4f1310987|    1|     41.0| 14282.0| white|   black|volvo na rep/worl...|27500.0|     27750.0|Thu Jan 29 2015 0...|
|2014|   7|  398|                650i|      Sedan|           0|wba6b2c57ed129731|    1|     43.0|  2641.0|  gray|   black|financial service...|66000.0|     67000.0|Thu Dec 18 2014 1...|
|2015|   2|    0|               2.5 S|      Sedan|           0|1n4al3ap1fn326013|    1|      1.0|  5554.0|  gray|   black|enterprise vehicl...|15350.0|     10900.0|Tue Dec 30 2014 1...|
|2014|   7|  406|                Base|      Sedan|           0|wbsfv9c51ed593089|    1|     34.0| 14943.0| black|   black|the hertz corpora...|69000.0|     65000.0|Wed Dec 17 2014 1...|
|2014|   1|   18|                 1LT|      Sedan|           0|1g1pc5sb2e7128460|    1|      2.0| 28617.0| black|   black|enterprise vehicl...|11900.0|      9800.0|Tue Dec 16 2014 1...|
|2014|  19|   61|2.0T Premium Plus...|      Sedan|           0|wauffafl3en030343|    1|     42.0|  9557.0| white|   black|  audi mission viejo|32100.0|     32250.0|Thu Dec 18 2014 1...|
|2014|   1|   64|                  LT|Convertible|           0|2g1fb3d37e9218789|    1|      3.0|  4809.0|   red|   black|  d/m auto sales inc|26300.0|     17500.0|Tue Jan 20 2015 0...|
|2014|  19|  150|3.0T Prestige qua...|      Sedan|           0|wauhgafc0en062916|    1|     48.0| 14414.0| black|   black|   desert auto trade|47300.0|     49750.0|Tue Dec 16 2014 1...|
|2015|   8|   31|                  LX|      Sedan|           0|5xxgm4a73fg353538|    1|     48.0|  2034.0|   red|     tan|  kia motors finance|15150.0|     17700.0|Tue Dec 16 2014 1...|
|2015|   0|    1|                  SE|      Sedan|           0|3fa6p0hdxfr145753|    1|      2.0|  5559.0| white|   beige|enterprise vehicl...|15350.0|     12000.0|Tue Jan 13 2015 1...|
|2015|   8|   40|                  LX|        SUV|           0|5xyktca66fg561407|    1|      5.0| 14634.0|silver|   black|kia motors americ...|20600.0|     21500.0|Tue Dec 16 2014 1...|
|2015|   2|    0|               2.5 S|      Sedan|           0|1n4al3ap5fc124223|    1|      2.0| 11398.0| black|   black|enterprise vehicl...|14750.0|     14100.0|Tue Dec 23 2014 1...|
|2014|  19|  200|2.0T Premium Plus...|        SUV|           0|wa1lfafpxea085074|    1|     49.0|  7983.0| white|   black|audi north scotts...|37100.0|     40000.0|Thu Dec 18 2014 1...|
|2014|   1|   64|                  LS|      Coupe|           0|2g1fa1e39e9134494|    1|     17.0| 13441.0| black|   black|wells fargo deale...|17750.0|     17000.0|Tue Dec 30 2014 1...|
|2014|   7|  155|                650i|Convertible|           0|wbayp9c53ed169260|    1|     34.0|  8819.0| black|   black|the hertz corpora...|68000.0|     67200.0|Wed Dec 17 2014 1...|
|2015|   1|    7|                 LTZ|      Sedan|           0|2g1165s30f9103921|    1|     19.0| 14538.0|silver|   black|enterprise vehicl...|24300.0|      7200.0|Tue Jul 07 2015 0...|
|2014|   7|   34|                528i|      Sedan|           0|wba5a5c51ed501631|    1|     29.0| 25969.0| black|   black|financial service...|34200.0|     30000.0|Tue Feb 03 2015 0...|
+----+----+-----+--------------------+-----------+------------+-----------------+-----+---------+--------+------+--------+--------------------+-------+------------+--------------------+
only showing top 20 rows

In [276]:
# 处理trim
stringIndexer = StringIndexer(inputCol="trim", outputCol="trim_index")
indexedData = stringIndexer.fit(data).transform(data)
indexedData = indexedData.withColumn("trim_index", col("trim_index").cast(IntegerType()))
indexedData = indexedData.withColumn("trim", col("trim_index")).drop("trim_index")

data = indexedData
data.show()

+----+----+-----+----+-----------+------------+-----------------+-----+---------+--------+------+--------+--------------------+-------+------------+--------------------+
|year|make|model|trim|       body|transmission|              vin|state|condition|odometer| color|interior|              seller|    mmr|sellingprice|            saledate|
+----+----+-----+----+-----------+------------+-----------------+-----+---------+--------+------+--------+--------------------+-------+------------+--------------------+
|2015|   8|   40|   2|        SUV|           0|5xyktca69fg566472|    1|      5.0| 16639.0| white|   black|kia motors americ...|20500.0|     21500.0|Tue Dec 16 2014 1...|
|2015|   8|   40|   2|        SUV|           0|5xyktca69fg561319|    1|      5.0|  9393.0| white|   beige|kia motors americ...|20800.0|     21500.0|Tue Dec 16 2014 1...|
|2014|   7|    8| 636|      Sedan|           0|wba3c1c51ek116351|    1|     45.0|  1331.0|  gray|   black|financial service...|31900.0|     30000.0|Thu Jan 15 2015 0...|
|2015|  26|  127|  91|      Sedan|           0|yv1612tb4f1310987|    1|     41.0| 14282.0| white|   black|volvo na rep/worl...|27500.0|     27750.0|Thu Jan 29 2015 0...|
|2014|   7|  398| 139|      Sedan|           0|wba6b2c57ed129731|    1|     43.0|  2641.0|  gray|   black|financial service...|66000.0|     67000.0|Thu Dec 18 2014 1...|
|2015|   2|    0|  12|      Sedan|           0|1n4al3ap1fn326013|    1|      1.0|  5554.0|  gray|   black|enterprise vehicl...|15350.0|     10900.0|Tue Dec 30 2014 1...|
|2014|   7|  406|   0|      Sedan|           0|wbsfv9c51ed593089|    1|     34.0| 14943.0| black|   black|the hertz corpora...|69000.0|     65000.0|Wed Dec 17 2014 1...|
|2014|   1|   18|  31|      Sedan|           0|1g1pc5sb2e7128460|    1|      2.0| 28617.0| black|   black|enterprise vehicl...|11900.0|      9800.0|Tue Dec 16 2014 1...|
|2014|  19|   61| 205|      Sedan|           0|wauffafl3en030343|    1|     42.0|  9557.0| white|   black|  audi mission viejo|32100.0|     32250.0|Thu Dec 18 2014 1...|
|2014|   1|   64|   4|Convertible|           0|2g1fb3d37e9218789|    1|      3.0|  4809.0|   red|   black|  d/m auto sales inc|26300.0|     17500.0|Tue Jan 20 2015 0...|
|2014|  19|  150| 726|      Sedan|           0|wauhgafc0en062916|    1|     48.0| 14414.0| black|   black|   desert auto trade|47300.0|     49750.0|Tue Dec 16 2014 1...|
|2015|   8|   31|   2|      Sedan|           0|5xxgm4a73fg353538|    1|     48.0|  2034.0|   red|     tan|  kia motors finance|15150.0|     17700.0|Tue Dec 16 2014 1...|
|2015|   0|    1|   1|      Sedan|           0|3fa6p0hdxfr145753|    1|      2.0|  5559.0| white|   beige|enterprise vehicl...|15350.0|     12000.0|Tue Jan 13 2015 1...|
|2015|   8|   40|   2|        SUV|           0|5xyktca66fg561407|    1|      5.0| 14634.0|silver|   black|kia motors americ...|20600.0|     21500.0|Tue Dec 16 2014 1...|
|2015|   2|    0|  12|      Sedan|           0|1n4al3ap5fc124223|    1|      2.0| 11398.0| black|   black|enterprise vehicl...|14750.0|     14100.0|Tue Dec 23 2014 1...|
|2014|  19|  200| 205|        SUV|           0|wa1lfafpxea085074|    1|     49.0|  7983.0| white|   black|audi north scotts...|37100.0|     40000.0|Thu Dec 18 2014 1...|
|2014|   1|   64|   6|      Coupe|           0|2g1fa1e39e9134494|    1|     17.0| 13441.0| black|   black|wells fargo deale...|17750.0|     17000.0|Tue Dec 30 2014 1...|
|2014|   7|  155| 139|Convertible|           0|wbayp9c53ed169260|    1|     34.0|  8819.0| black|   black|the hertz corpora...|68000.0|     67200.0|Wed Dec 17 2014 1...|
|2015|   1|    7|  19|      Sedan|           0|2g1165s30f9103921|    1|     19.0| 14538.0|silver|   black|enterprise vehicl...|24300.0|      7200.0|Tue Jul 07 2015 0...|
|2014|   7|   34|  68|      Sedan|           0|wba5a5c51ed501631|    1|     29.0| 25969.0| black|   black|financial service...|34200.0|     30000.0|Tue Feb 03 2015 0...|
+----+----+-----+----+-----------+------------+-----------------+-----+---------+--------+------+--------+--------------------+-------+------------+--------------------+
only showing top 20 rows

In [277]:
# 处理body
stringIndexer = StringIndexer(inputCol="body", outputCol="body_index")
indexedData = stringIndexer.fit(data).transform(data)
indexedData = indexedData.withColumn("body_index", col("body_index").cast(IntegerType()))
indexedData = indexedData.withColumn("body", col("body_index")).drop("body_index")

data = indexedData
data.show()

+----+----+-----+----+----+------------+-----------------+-----+---------+--------+------+--------+--------------------+-------+------------+--------------------+
|year|make|model|trim|body|transmission|              vin|state|condition|odometer| color|interior|              seller|    mmr|sellingprice|            saledate|
+----+----+-----+----+----+------------+-----------------+-----+---------+--------+------+--------+--------------------+-------+------------+--------------------+
|2015|   8|   40|   2|   1|           0|5xyktca69fg566472|    1|      5.0| 16639.0| white|   black|kia motors americ...|20500.0|     21500.0|Tue Dec 16 2014 1...|
|2015|   8|   40|   2|   1|           0|5xyktca69fg561319|    1|      5.0|  9393.0| white|   beige|kia motors americ...|20800.0|     21500.0|Tue Dec 16 2014 1...|
|2014|   7|    8| 636|   0|           0|wba3c1c51ek116351|    1|     45.0|  1331.0|  gray|   black|financial service...|31900.0|     30000.0|Thu Jan 15 2015 0...|
|2015|  26|  127|  91|   0|           0|yv1612tb4f1310987|    1|     41.0| 14282.0| white|   black|volvo na rep/worl...|27500.0|     27750.0|Thu Jan 29 2015 0...|
|2014|   7|  398| 139|   0|           0|wba6b2c57ed129731|    1|     43.0|  2641.0|  gray|   black|financial service...|66000.0|     67000.0|Thu Dec 18 2014 1...|
|2015|   2|    0|  12|   0|           0|1n4al3ap1fn326013|    1|      1.0|  5554.0|  gray|   black|enterprise vehicl...|15350.0|     10900.0|Tue Dec 30 2014 1...|
|2014|   7|  406|   0|   0|           0|wbsfv9c51ed593089|    1|     34.0| 14943.0| black|   black|the hertz corpora...|69000.0|     65000.0|Wed Dec 17 2014 1...|
|2014|   1|   18|  31|   0|           0|1g1pc5sb2e7128460|    1|      2.0| 28617.0| black|   black|enterprise vehicl...|11900.0|      9800.0|Tue Dec 16 2014 1...|
|2014|  19|   61| 205|   0|           0|wauffafl3en030343|    1|     42.0|  9557.0| white|   black|  audi mission viejo|32100.0|     32250.0|Thu Dec 18 2014 1...|
|2014|   1|   64|   4|   9|           0|2g1fb3d37e9218789|    1|      3.0|  4809.0|   red|   black|  d/m auto sales inc|26300.0|     17500.0|Tue Jan 20 2015 0...|
|2014|  19|  150| 726|   0|           0|wauhgafc0en062916|    1|     48.0| 14414.0| black|   black|   desert auto trade|47300.0|     49750.0|Tue Dec 16 2014 1...|
|2015|   8|   31|   2|   0|           0|5xxgm4a73fg353538|    1|     48.0|  2034.0|   red|     tan|  kia motors finance|15150.0|     17700.0|Tue Dec 16 2014 1...|
|2015|   0|    1|   1|   0|           0|3fa6p0hdxfr145753|    1|      2.0|  5559.0| white|   beige|enterprise vehicl...|15350.0|     12000.0|Tue Jan 13 2015 1...|
|2015|   8|   40|   2|   1|           0|5xyktca66fg561407|    1|      5.0| 14634.0|silver|   black|kia motors americ...|20600.0|     21500.0|Tue Dec 16 2014 1...|
|2015|   2|    0|  12|   0|           0|1n4al3ap5fc124223|    1|      2.0| 11398.0| black|   black|enterprise vehicl...|14750.0|     14100.0|Tue Dec 23 2014 1...|
|2014|  19|  200| 205|   1|           0|wa1lfafpxea085074|    1|     49.0|  7983.0| white|   black|audi north scotts...|37100.0|     40000.0|Thu Dec 18 2014 1...|
|2014|   1|   64|   6|   6|           0|2g1fa1e39e9134494|    1|     17.0| 13441.0| black|   black|wells fargo deale...|17750.0|     17000.0|Tue Dec 30 2014 1...|
|2014|   7|  155| 139|   9|           0|wbayp9c53ed169260|    1|     34.0|  8819.0| black|   black|the hertz corpora...|68000.0|     67200.0|Wed Dec 17 2014 1...|
|2015|   1|    7|  19|   0|           0|2g1165s30f9103921|    1|     19.0| 14538.0|silver|   black|enterprise vehicl...|24300.0|      7200.0|Tue Jul 07 2015 0...|
|2014|   7|   34|  68|   0|           0|wba5a5c51ed501631|    1|     29.0| 25969.0| black|   black|financial service...|34200.0|     30000.0|Tue Feb 03 2015 0...|
+----+----+-----+----+----+------------+-----------------+-----+---------+--------+------+--------+--------------------+-------+------------+--------------------+
only showing top 20 rows

In [278]:
# 处理color
stringIndexer = StringIndexer(inputCol="color", outputCol="color_index")
indexedData = stringIndexer.fit(data).transform(data)
indexedData = indexedData.withColumn("color_index", col("color_index").cast(IntegerType()))
indexedData = indexedData.withColumn("color", col("color_index")).drop("color_index")

data = indexedData
data.show()

+----+----+-----+----+----+------------+-----------------+-----+---------+--------+-----+--------+--------------------+-------+------------+--------------------+
|year|make|model|trim|body|transmission|              vin|state|condition|odometer|color|interior|              seller|    mmr|sellingprice|            saledate|
+----+----+-----+----+----+------------+-----------------+-----+---------+--------+-----+--------+--------------------+-------+------------+--------------------+
|2015|   8|   40|   2|   1|           0|5xyktca69fg566472|    1|      5.0| 16639.0|    1|   black|kia motors americ...|20500.0|     21500.0|Tue Dec 16 2014 1...|
|2015|   8|   40|   2|   1|           0|5xyktca69fg561319|    1|      5.0|  9393.0|    1|   beige|kia motors americ...|20800.0|     21500.0|Tue Dec 16 2014 1...|
|2014|   7|    8| 636|   0|           0|wba3c1c51ek116351|    1|     45.0|  1331.0|    3|   black|financial service...|31900.0|     30000.0|Thu Jan 15 2015 0...|
|2015|  26|  127|  91|   0|           0|yv1612tb4f1310987|    1|     41.0| 14282.0|    1|   black|volvo na rep/worl...|27500.0|     27750.0|Thu Jan 29 2015 0...|
|2014|   7|  398| 139|   0|           0|wba6b2c57ed129731|    1|     43.0|  2641.0|    3|   black|financial service...|66000.0|     67000.0|Thu Dec 18 2014 1...|
|2015|   2|    0|  12|   0|           0|1n4al3ap1fn326013|    1|      1.0|  5554.0|    3|   black|enterprise vehicl...|15350.0|     10900.0|Tue Dec 30 2014 1...|
|2014|   7|  406|   0|   0|           0|wbsfv9c51ed593089|    1|     34.0| 14943.0|    0|   black|the hertz corpora...|69000.0|     65000.0|Wed Dec 17 2014 1...|
|2014|   1|   18|  31|   0|           0|1g1pc5sb2e7128460|    1|      2.0| 28617.0|    0|   black|enterprise vehicl...|11900.0|      9800.0|Tue Dec 16 2014 1...|
|2014|  19|   61| 205|   0|           0|wauffafl3en030343|    1|     42.0|  9557.0|    1|   black|  audi mission viejo|32100.0|     32250.0|Thu Dec 18 2014 1...|
|2014|   1|   64|   4|   9|           0|2g1fb3d37e9218789|    1|      3.0|  4809.0|    5|   black|  d/m auto sales inc|26300.0|     17500.0|Tue Jan 20 2015 0...|
|2014|  19|  150| 726|   0|           0|wauhgafc0en062916|    1|     48.0| 14414.0|    0|   black|   desert auto trade|47300.0|     49750.0|Tue Dec 16 2014 1...|
|2015|   8|   31|   2|   0|           0|5xxgm4a73fg353538|    1|     48.0|  2034.0|    5|     tan|  kia motors finance|15150.0|     17700.0|Tue Dec 16 2014 1...|
|2015|   0|    1|   1|   0|           0|3fa6p0hdxfr145753|    1|      2.0|  5559.0|    1|   beige|enterprise vehicl...|15350.0|     12000.0|Tue Jan 13 2015 1...|
|2015|   8|   40|   2|   1|           0|5xyktca66fg561407|    1|      5.0| 14634.0|    2|   black|kia motors americ...|20600.0|     21500.0|Tue Dec 16 2014 1...|
|2015|   2|    0|  12|   0|           0|1n4al3ap5fc124223|    1|      2.0| 11398.0|    0|   black|enterprise vehicl...|14750.0|     14100.0|Tue Dec 23 2014 1...|
|2014|  19|  200| 205|   1|           0|wa1lfafpxea085074|    1|     49.0|  7983.0|    1|   black|audi north scotts...|37100.0|     40000.0|Thu Dec 18 2014 1...|
|2014|   1|   64|   6|   6|           0|2g1fa1e39e9134494|    1|     17.0| 13441.0|    0|   black|wells fargo deale...|17750.0|     17000.0|Tue Dec 30 2014 1...|
|2014|   7|  155| 139|   9|           0|wbayp9c53ed169260|    1|     34.0|  8819.0|    0|   black|the hertz corpora...|68000.0|     67200.0|Wed Dec 17 2014 1...|
|2015|   1|    7|  19|   0|           0|2g1165s30f9103921|    1|     19.0| 14538.0|    2|   black|enterprise vehicl...|24300.0|      7200.0|Tue Jul 07 2015 0...|
|2014|   7|   34|  68|   0|           0|wba5a5c51ed501631|    1|     29.0| 25969.0|    0|   black|financial service...|34200.0|     30000.0|Tue Feb 03 2015 0...|
+----+----+-----+----+----+------------+-----------------+-----+---------+--------+-----+--------+--------------------+-------+------------+--------------------+
only showing top 20 rows

In [279]:
# 处理interior
stringIndexer = StringIndexer(inputCol="interior", outputCol="interior_index")
indexedData = stringIndexer.fit(data).transform(data)
indexedData = indexedData.withColumn("interior_index", col("interior_index").cast(IntegerType()))
indexedData = indexedData.withColumn("interior", col("interior_index")).drop("interior_index")

data = indexedData
data.show()

+----+----+-----+----+----+------------+-----------------+-----+---------+--------+-----+--------+--------------------+-------+------------+--------------------+
|year|make|model|trim|body|transmission|              vin|state|condition|odometer|color|interior|              seller|    mmr|sellingprice|            saledate|
+----+----+-----+----+----+------------+-----------------+-----+---------+--------+-----+--------+--------------------+-------+------------+--------------------+
|2015|   8|   40|   2|   1|           0|5xyktca69fg566472|    1|      5.0| 16639.0|    1|       0|kia motors americ...|20500.0|     21500.0|Tue Dec 16 2014 1...|
|2015|   8|   40|   2|   1|           0|5xyktca69fg561319|    1|      5.0|  9393.0|    1|       2|kia motors americ...|20800.0|     21500.0|Tue Dec 16 2014 1...|
|2014|   7|    8| 636|   0|           0|wba3c1c51ek116351|    1|     45.0|  1331.0|    3|       0|financial service...|31900.0|     30000.0|Thu Jan 15 2015 0...|
|2015|  26|  127|  91|   0|           0|yv1612tb4f1310987|    1|     41.0| 14282.0|    1|       0|volvo na rep/worl...|27500.0|     27750.0|Thu Jan 29 2015 0...|
|2014|   7|  398| 139|   0|           0|wba6b2c57ed129731|    1|     43.0|  2641.0|    3|       0|financial service...|66000.0|     67000.0|Thu Dec 18 2014 1...|
|2015|   2|    0|  12|   0|           0|1n4al3ap1fn326013|    1|      1.0|  5554.0|    3|       0|enterprise vehicl...|15350.0|     10900.0|Tue Dec 30 2014 1...|
|2014|   7|  406|   0|   0|           0|wbsfv9c51ed593089|    1|     34.0| 14943.0|    0|       0|the hertz corpora...|69000.0|     65000.0|Wed Dec 17 2014 1...|
|2014|   1|   18|  31|   0|           0|1g1pc5sb2e7128460|    1|      2.0| 28617.0|    0|       0|enterprise vehicl...|11900.0|      9800.0|Tue Dec 16 2014 1...|
|2014|  19|   61| 205|   0|           0|wauffafl3en030343|    1|     42.0|  9557.0|    1|       0|  audi mission viejo|32100.0|     32250.0|Thu Dec 18 2014 1...|
|2014|   1|   64|   4|   9|           0|2g1fb3d37e9218789|    1|      3.0|  4809.0|    5|       0|  d/m auto sales inc|26300.0|     17500.0|Tue Jan 20 2015 0...|
|2014|  19|  150| 726|   0|           0|wauhgafc0en062916|    1|     48.0| 14414.0|    0|       0|   desert auto trade|47300.0|     49750.0|Tue Dec 16 2014 1...|
|2015|   8|   31|   2|   0|           0|5xxgm4a73fg353538|    1|     48.0|  2034.0|    5|       3|  kia motors finance|15150.0|     17700.0|Tue Dec 16 2014 1...|
|2015|   0|    1|   1|   0|           0|3fa6p0hdxfr145753|    1|      2.0|  5559.0|    1|       2|enterprise vehicl...|15350.0|     12000.0|Tue Jan 13 2015 1...|
|2015|   8|   40|   2|   1|           0|5xyktca66fg561407|    1|      5.0| 14634.0|    2|       0|kia motors americ...|20600.0|     21500.0|Tue Dec 16 2014 1...|
|2015|   2|    0|  12|   0|           0|1n4al3ap5fc124223|    1|      2.0| 11398.0|    0|       0|enterprise vehicl...|14750.0|     14100.0|Tue Dec 23 2014 1...|
|2014|  19|  200| 205|   1|           0|wa1lfafpxea085074|    1|     49.0|  7983.0|    1|       0|audi north scotts...|37100.0|     40000.0|Thu Dec 18 2014 1...|
|2014|   1|   64|   6|   6|           0|2g1fa1e39e9134494|    1|     17.0| 13441.0|    0|       0|wells fargo deale...|17750.0|     17000.0|Tue Dec 30 2014 1...|
|2014|   7|  155| 139|   9|           0|wbayp9c53ed169260|    1|     34.0|  8819.0|    0|       0|the hertz corpora...|68000.0|     67200.0|Wed Dec 17 2014 1...|
|2015|   1|    7|  19|   0|           0|2g1165s30f9103921|    1|     19.0| 14538.0|    2|       0|enterprise vehicl...|24300.0|      7200.0|Tue Jul 07 2015 0...|
|2014|   7|   34|  68|   0|           0|wba5a5c51ed501631|    1|     29.0| 25969.0|    0|       0|financial service...|34200.0|     30000.0|Tue Feb 03 2015 0...|
+----+----+-----+----+----+------------+-----------------+-----+---------+--------+-----+--------+--------------------+-------+------------+--------------------+
only showing top 20 rows

In [280]:
# 处理seller
stringIndexer = StringIndexer(inputCol="seller", outputCol="seller_index")
indexedData = stringIndexer.fit(data).transform(data)
indexedData = indexedData.withColumn("seller_index", col("seller_index").cast(IntegerType()))
indexedData = indexedData.withColumn("seller", col("seller_index")).drop("seller_index")

data = indexedData
data.show()

+----+----+-----+----+----+------------+-----------------+-----+---------+--------+-----+--------+------+-------+------------+--------------------+
|year|make|model|trim|body|transmission|              vin|state|condition|odometer|color|interior|seller|    mmr|sellingprice|            saledate|
+----+----+-----+----+----+------------+-----------------+-----+---------+--------+-----+--------+------+-------+------------+--------------------+
|2015|   8|   40|   2|   1|           0|5xyktca69fg566472|    1|      5.0| 16639.0|    1|       0|    23|20500.0|     21500.0|Tue Dec 16 2014 1...|
|2015|   8|   40|   2|   1|           0|5xyktca69fg561319|    1|      5.0|  9393.0|    1|       2|    23|20800.0|     21500.0|Tue Dec 16 2014 1...|
|2014|   7|    8| 636|   0|           0|wba3c1c51ek116351|    1|     45.0|  1331.0|    3|       0|    14|31900.0|     30000.0|Thu Jan 15 2015 0...|
|2015|  26|  127|  91|   0|           0|yv1612tb4f1310987|    1|     41.0| 14282.0|    1|       0|   123|27500.0|     27750.0|Thu Jan 29 2015 0...|
|2014|   7|  398| 139|   0|           0|wba6b2c57ed129731|    1|     43.0|  2641.0|    3|       0|    14|66000.0|     67000.0|Thu Dec 18 2014 1...|
|2015|   2|    0|  12|   0|           0|1n4al3ap1fn326013|    1|      1.0|  5554.0|    3|       0|    34|15350.0|     10900.0|Tue Dec 30 2014 1...|
|2014|   7|  406|   0|   0|           0|wbsfv9c51ed593089|    1|     34.0| 14943.0|    0|       0|     1|69000.0|     65000.0|Wed Dec 17 2014 1...|
|2014|   1|   18|  31|   0|           0|1g1pc5sb2e7128460|    1|      2.0| 28617.0|    0|       0|    34|11900.0|      9800.0|Tue Dec 16 2014 1...|
|2014|  19|   61| 205|   0|           0|wauffafl3en030343|    1|     42.0|  9557.0|    1|       0|  2950|32100.0|     32250.0|Thu Dec 18 2014 1...|
|2014|   1|   64|   4|   9|           0|2g1fb3d37e9218789|    1|      3.0|  4809.0|    5|       0|  8895|26300.0|     17500.0|Tue Jan 20 2015 0...|
|2014|  19|  150| 726|   0|           0|wauhgafc0en062916|    1|     48.0| 14414.0|    0|       0|   404|47300.0|     49750.0|Tue Dec 16 2014 1...|
|2015|   8|   31|   2|   0|           0|5xxgm4a73fg353538|    1|     48.0|  2034.0|    5|       3|    43|15150.0|     17700.0|Tue Dec 16 2014 1...|
|2015|   0|    1|   1|   0|           0|3fa6p0hdxfr145753|    1|      2.0|  5559.0|    1|       2|    34|15350.0|     12000.0|Tue Jan 13 2015 1...|
|2015|   8|   40|   2|   1|           0|5xyktca66fg561407|    1|      5.0| 14634.0|    2|       0|    23|20600.0|     21500.0|Tue Dec 16 2014 1...|
|2015|   2|    0|  12|   0|           0|1n4al3ap5fc124223|    1|      2.0| 11398.0|    0|       0|    34|14750.0|     14100.0|Tue Dec 23 2014 1...|
|2014|  19|  200| 205|   1|           0|wa1lfafpxea085074|    1|     49.0|  7983.0|    1|       0|  1151|37100.0|     40000.0|Thu Dec 18 2014 1...|
|2014|   1|   64|   6|   6|           0|2g1fa1e39e9134494|    1|     17.0| 13441.0|    0|       0|     6|17750.0|     17000.0|Tue Dec 30 2014 1...|
|2014|   7|  155| 139|   9|           0|wbayp9c53ed169260|    1|     34.0|  8819.0|    0|       0|     1|68000.0|     67200.0|Wed Dec 17 2014 1...|
|2015|   1|    7|  19|   0|           0|2g1165s30f9103921|    1|     19.0| 14538.0|    2|       0|    34|24300.0|      7200.0|Tue Jul 07 2015 0...|
|2014|   7|   34|  68|   0|           0|wba5a5c51ed501631|    1|     29.0| 25969.0|    0|       0|    14|34200.0|     30000.0|Tue Feb 03 2015 0...|
+----+----+-----+----+----+------------+-----------------+-----+---------+--------+-----+--------+------+-------+------------+--------------------+
only showing top 20 rows

In [281]:
# 显示"saledate"列的前10条数据
saledate_data = data.select("saledate").head(10)

# 打印前10条数据
for row in saledate_data:
    print(row.saledate)

from pyspark.sql.functions import substring, unix_timestamp

Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
Tue Dec 30 2014 12:00:00 GMT-0800 (PST)
Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
Tue Jan 20 2015 04:00:00 GMT-0800 (PST)

In [282]:
from pyspark.sql.functions import substring, unix_timestamp

# 将"timestamp_string"列转换为Unix时间戳
data = data.withColumn("timestamp_string", substring("saledate", 5, 20))
data = data.withColumn("timestamp", unix_timestamp("timestamp_string", "MMM dd yyyy HH:mm:ss"))

data = data.drop('saledate')
data = data.drop('timestamp_string')
data = data.drop('vin')

# 查看转换后的数据
data.show()

+----+----+-----+----+----+------------+-----+---------+--------+-----+--------+------+-------+------------+----------+
|year|make|model|trim|body|transmission|state|condition|odometer|color|interior|seller|    mmr|sellingprice| timestamp|
+----+----+-----+----+----+------------+-----+---------+--------+-----+--------+------+-------+------------+----------+
|2015|   8|   40|   2|   1|           0|    1|      5.0| 16639.0|    1|       0|    23|20500.0|     21500.0|1418704200|
|2015|   8|   40|   2|   1|           0|    1|      5.0|  9393.0|    1|       2|    23|20800.0|     21500.0|1418704200|
|2014|   7|    8| 636|   0|           0|    1|     45.0|  1331.0|    3|       0|    14|31900.0|     30000.0|1421267400|
|2015|  26|  127|  91|   0|           0|    1|     41.0| 14282.0|    1|       0|   123|27500.0|     27750.0|1422477000|
|2014|   7|  398| 139|   0|           0|    1|     43.0|  2641.0|    3|       0|    14|66000.0|     67000.0|1418877000|
|2015|   2|    0|  12|   0|           0|    1|      1.0|  5554.0|    3|       0|    34|15350.0|     10900.0|1419912000|
|2014|   7|  406|   0|   0|           0|    1|     34.0| 14943.0|    0|       0|     1|69000.0|     65000.0|1418790600|
|2014|   1|   18|  31|   0|           0|    1|      2.0| 28617.0|    0|       0|    34|11900.0|      9800.0|1418706000|
|2014|  19|   61| 205|   0|           0|    1|     42.0|  9557.0|    1|       0|  2950|32100.0|     32250.0|1418875200|
|2014|   1|   64|   4|   9|           0|    1|      3.0|  4809.0|    5|       0|  8895|26300.0|     17500.0|1421697600|
|2014|  19|  150| 726|   0|           0|    1|     48.0| 14414.0|    0|       0|   404|47300.0|     49750.0|1418704200|
|2015|   8|   31|   2|   0|           0|    1|     48.0|  2034.0|    5|       3|    43|15150.0|     17700.0|1418702400|
|2015|   0|    1|   1|   0|           0|    1|      2.0|  5559.0|    1|       2|    34|15350.0|     12000.0|1421121600|
|2015|   8|   40|   2|   1|           0|    1|      5.0| 14634.0|    2|       0|    23|20600.0|     21500.0|1418704200|
|2015|   2|    0|  12|   0|           0|    1|      2.0| 11398.0|    0|       0|    34|14750.0|     14100.0|1419307200|
|2014|  19|  200| 205|   1|           0|    1|     49.0|  7983.0|    1|       0|  1151|37100.0|     40000.0|1418877000|
|2014|   1|   64|   6|   6|           0|    1|     17.0| 13441.0|    0|       0|     6|17750.0|     17000.0|1419922800|
|2014|   7|  155| 139|   9|           0|    1|     34.0|  8819.0|    0|       0|     1|68000.0|     67200.0|1418790600|
|2015|   1|    7|  19|   0|           0|    1|     19.0| 14538.0|    2|       0|    34|24300.0|      7200.0|1436232600|
|2014|   7|   34|  68|   0|           0|    1|     29.0| 25969.0|    0|       0|    14|34200.0|     30000.0|1422909000|
+----+----+-----+----+----+------------+-----+---------+--------+-----+--------+------+-------+------------+----------+
only showing top 20 rows

In [283]:
# 将"timestamp"列丢弃末两位
data = data.withColumn("timestamp_str", data["timestamp"].cast("string"))
data = data.withColumn("timestamp_str_truncated", substring("timestamp_str", 0, 8))
data = data.withColumn("timestamp_int", data["timestamp_str_truncated"].cast("integer"))

data = data.drop('timestamp_str')
data = data.drop('timestamp_str_truncated')
data = data.drop('timestamp')
data = data.withColumnRenamed("timestamp_int", "timestamp")


data.show()

+----+----+-----+----+----+------------+-----+---------+--------+-----+--------+------+-------+------------+---------+
|year|make|model|trim|body|transmission|state|condition|odometer|color|interior|seller|    mmr|sellingprice|timestamp|
+----+----+-----+----+----+------------+-----+---------+--------+-----+--------+------+-------+------------+---------+
|2015|   8|   40|   2|   1|           0|    1|      5.0| 16639.0|    1|       0|    23|20500.0|     21500.0| 14187042|
|2015|   8|   40|   2|   1|           0|    1|      5.0|  9393.0|    1|       2|    23|20800.0|     21500.0| 14187042|
|2014|   7|    8| 636|   0|           0|    1|     45.0|  1331.0|    3|       0|    14|31900.0|     30000.0| 14212674|
|2015|  26|  127|  91|   0|           0|    1|     41.0| 14282.0|    1|       0|   123|27500.0|     27750.0| 14224770|
|2014|   7|  398| 139|   0|           0|    1|     43.0|  2641.0|    3|       0|    14|66000.0|     67000.0| 14188770|
|2015|   2|    0|  12|   0|           0|    1|      1.0|  5554.0|    3|       0|    34|15350.0|     10900.0| 14199120|
|2014|   7|  406|   0|   0|           0|    1|     34.0| 14943.0|    0|       0|     1|69000.0|     65000.0| 14187906|
|2014|   1|   18|  31|   0|           0|    1|      2.0| 28617.0|    0|       0|    34|11900.0|      9800.0| 14187060|
|2014|  19|   61| 205|   0|           0|    1|     42.0|  9557.0|    1|       0|  2950|32100.0|     32250.0| 14188752|
|2014|   1|   64|   4|   9|           0|    1|      3.0|  4809.0|    5|       0|  8895|26300.0|     17500.0| 14216976|
|2014|  19|  150| 726|   0|           0|    1|     48.0| 14414.0|    0|       0|   404|47300.0|     49750.0| 14187042|
|2015|   8|   31|   2|   0|           0|    1|     48.0|  2034.0|    5|       3|    43|15150.0|     17700.0| 14187024|
|2015|   0|    1|   1|   0|           0|    1|      2.0|  5559.0|    1|       2|    34|15350.0|     12000.0| 14211216|
|2015|   8|   40|   2|   1|           0|    1|      5.0| 14634.0|    2|       0|    23|20600.0|     21500.0| 14187042|
|2015|   2|    0|  12|   0|           0|    1|      2.0| 11398.0|    0|       0|    34|14750.0|     14100.0| 14193072|
|2014|  19|  200| 205|   1|           0|    1|     49.0|  7983.0|    1|       0|  1151|37100.0|     40000.0| 14188770|
|2014|   1|   64|   6|   6|           0|    1|     17.0| 13441.0|    0|       0|     6|17750.0|     17000.0| 14199228|
|2014|   7|  155| 139|   9|           0|    1|     34.0|  8819.0|    0|       0|     1|68000.0|     67200.0| 14187906|
|2015|   1|    7|  19|   0|           0|    1|     19.0| 14538.0|    2|       0|    34|24300.0|      7200.0| 14362326|
|2014|   7|   34|  68|   0|           0|    1|     29.0| 25969.0|    0|       0|    14|34200.0|     30000.0| 14229090|
+----+----+-----+----+----+------------+-----+---------+--------+-----+--------+------+-------+------------+---------+
only showing top 20 rows

In [284]:
data.printSchema()
print(data.dtypes)

root
 |-- year: integer (nullable = true)
 |-- make: integer (nullable = true)
 |-- model: integer (nullable = true)
 |-- trim: integer (nullable = true)
 |-- body: integer (nullable = true)
 |-- transmission: integer (nullable = true)
 |-- state: integer (nullable = true)
 |-- condition: double (nullable = true)
 |-- odometer: double (nullable = true)
 |-- color: integer (nullable = true)
 |-- interior: integer (nullable = true)
 |-- seller: integer (nullable = true)
 |-- mmr: double (nullable = true)
 |-- sellingprice: double (nullable = true)
 |-- timestamp: integer (nullable = true)

[('year', 'int'), ('make', 'int'), ('model', 'int'), ('trim', 'int'), ('body', 'int'), ('transmission', 'int'), ('state', 'int'), ('condition', 'double'), ('odometer', 'double'), ('color', 'int'), ('interior', 'int'), ('seller', 'int'), ('mmr', 'double'), ('sellingprice', 'double'), ('timestamp', 'int')]

In [285]:
# 1. 检查数据中是否存在 null 值
null_cols = [col for col in data.columns if data.select(col).where(data[col].isNull()).count() > 0]
if null_cols:
    print(f"Null values found in columns: {', '.join(null_cols)}")

In [286]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

assembler = VectorAssembler(inputCols = ['year', 'make', 'model', 'trim','body', 'transmission', 'state', 'condition', 'odometer', 'color', 'interior', 'seller', 'mmr', 'timestamp'], outputCol = 'features')
output = assembler.transform(data)
output.take(1)

[Row(year=2015, make=8, model=40, trim=2, body=1, transmission=0, state=1, condition=5.0, odometer=16639.0, color=1, interior=0, seller=23, mmr=20500.0, sellingprice=21500.0, timestamp=14187042, features=DenseVector([2015.0, 8.0, 40.0, 2.0, 1.0, 0.0, 1.0, 5.0, 16639.0, 1.0, 0.0, 23.0, 20500.0, 14187042.0]))]

In [287]:
output.printSchema()

root
 |-- year: integer (nullable = true)
 |-- make: integer (nullable = true)
 |-- model: integer (nullable = true)
 |-- trim: integer (nullable = true)
 |-- body: integer (nullable = true)
 |-- transmission: integer (nullable = true)
 |-- state: integer (nullable = true)
 |-- condition: double (nullable = true)
 |-- odometer: double (nullable = true)
 |-- color: integer (nullable = true)
 |-- interior: integer (nullable = true)
 |-- seller: integer (nullable = true)
 |-- mmr: double (nullable = true)
 |-- sellingprice: double (nullable = true)
 |-- timestamp: integer (nullable = true)
 |-- features: vector (nullable = true)

In [288]:
final_data = output.select(['features', 'sellingprice'])
final_data = final_data.dropna()
final_data.show(3, truncate=False)

+-------------------------------------------------------------------------------+------------+
|features                                                                       |sellingprice|
+-------------------------------------------------------------------------------+------------+
|[2015.0,8.0,40.0,2.0,1.0,0.0,1.0,5.0,16639.0,1.0,0.0,23.0,20500.0,1.4187042E7] |21500.0     |
|[2015.0,8.0,40.0,2.0,1.0,0.0,1.0,5.0,9393.0,1.0,2.0,23.0,20800.0,1.4187042E7]  |21500.0     |
|[2014.0,7.0,8.0,636.0,0.0,0.0,1.0,45.0,1331.0,3.0,0.0,14.0,31900.0,1.4212674E7]|30000.0     |
+-------------------------------------------------------------------------------+------------+
only showing top 3 rows

In [289]:
final_data.printSchema()

root
 |-- features: vector (nullable = true)
 |-- sellingprice: double (nullable = true)

In [290]:
train, test = final_data.randomSplit([0.8,0.2])

In [291]:
lr = LinearRegression(featuresCol='features',labelCol = 'sellingprice')
lr_model = lr.fit(train)

24/04/18 23:32:04 WARN Instrumentation: [db219cd9] regParam is zero, which might cause numerical instability and overfitting.

24/04/18 23:32:06 WARN InstanceBuilder$NativeLAPACK: Failed to load implementation from:dev.ludovic.netlib.lapack.JNILAPACK

In [292]:
test_result = lr_model.evaluate(test)
test_result.residuals.show()

/usr/local/lib/python3.9/site-packages/pyspark/sql/context.py:125: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

+-------------------+
|          residuals|
+-------------------+
|  649.7156936336105|
| -448.7918031239824|
| -103.8415829329897|
|-2213.6102735144523|
|  592.5781652863079|
|-210.76295282732463|
| -1156.676953950111|
|-1598.8941669862834|
| 2491.8675940604444|
|-1570.2115097727365|
| -654.9342387894139|
| 284.35505812345946|
|   661.407095612245|
|  681.9532207576412|
|    1315.2593939207|
|  37.65987456556468|
|  579.9958578528021|
| 240.50897955577238|
| 317.71410721387656|
| -666.5979251225071|
+-------------------+
only showing top 20 rows

In [293]:
test_result.rootMeanSquaredError

1630.70399003853

In [294]:
test_result.r2

0.9714209771385157

In [295]:
final_data.describe().show()

+-------+-----------------+
|summary|     sellingprice|
+-------+-----------------+
|  count|           472325|
|   mean|13690.51205843434|
| stddev|9613.033737691603|
|    min|              1.0|
|    max|         230000.0|
+-------+-----------------+

In [296]:
unlabeled_data = test.select('features')
unlabeled_data.show()

+--------------------+
|            features|
+--------------------+
|(14,[0,1,2,6,7,8,...|
|(14,[0,1,2,7,8,11...|
|(14,[0,1,2,7,8,11...|
|(14,[0,1,2,7,8,11...|
|(14,[0,1,2,7,8,11...|
|(14,[0,1,2,7,8,11...|
|(14,[0,1,2,7,8,11...|
|(14,[0,1,3,7,8,11...|
|(14,[0,2,3,4,7,8,...|
|(14,[0,2,3,6,7,8,...|
|(14,[0,2,3,6,7,8,...|
|(14,[0,2,3,6,7,8,...|
|(14,[0,2,3,6,7,8,...|
|(14,[0,2,3,6,7,8,...|
|(14,[0,2,3,6,7,8,...|
|(14,[0,2,3,6,7,8,...|
|(14,[0,2,3,6,7,8,...|
|(14,[0,2,3,6,7,8,...|
|(14,[0,2,3,6,7,8,...|
|(14,[0,2,3,6,7,8,...|
+--------------------+
only showing top 20 rows

In [297]:
predictions = lr_model.transform(unlabeled_data)
predictions.show()

+--------------------+------------------+
|            features|        prediction|
+--------------------+------------------+
|(14,[0,1,2,6,7,8,...| 15750.28430636639|
|(14,[0,1,2,7,8,11...| 948.7918031239824|
|(14,[0,1,2,7,8,11...| 903.8415829329897|
|(14,[0,1,2,7,8,11...| 5313.610273514452|
|(14,[0,1,2,7,8,11...|30407.421834713692|
|(14,[0,1,2,7,8,11...|34610.762952827325|
|(14,[0,1,2,7,8,11...| 29056.67695395011|
|(14,[0,1,3,7,8,11...| 9898.894166986283|
|(14,[0,2,3,4,7,8,...| 8908.132405939556|
|(14,[0,2,3,6,7,8,...|4870.2115097727365|
|(14,[0,2,3,6,7,8,...| 6954.934238789414|
|(14,[0,2,3,6,7,8,...| 12315.64494187654|
|(14,[0,2,3,6,7,8,...|12838.592904387755|
|(14,[0,2,3,6,7,8,...| 21418.04677924236|
|(14,[0,2,3,6,7,8,...|  14484.7406060793|
|(14,[0,2,3,6,7,8,...|14862.340125434435|
|(14,[0,2,3,6,7,8,...|18720.004142147198|
|(14,[0,2,3,6,7,8,...|18659.491020444228|
|(14,[0,2,3,6,7,8,...|12382.285892786123|
|(14,[0,2,3,6,7,8,...|12266.597925122507|
+--------------------+------------------+
only showing top 20 rows