In [32]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql import functions as F
import os

os.environ['PYSPARK_PYTHON'] = '/usr/local/bin/python3.9'

spark = SparkSession.builder.appName("Spark_sql_test").\
    master("local[*]").\
    getOrCreate()

sc = spark.sparkContext

In [33]:
df = spark.read.format('csv').\
    option("header", "true").\
    load("car_prices.csv")
df.printSchema()
df.show()

df.createTempView("car_prices")

root
 |-- year: string (nullable = true)
 |-- make: string (nullable = true)
 |-- model: string (nullable = true)
 |-- trim: string (nullable = true)
 |-- body: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- vin: string (nullable = true)
 |-- state: string (nullable = true)
 |-- condition: string (nullable = true)
 |-- odometer: string (nullable = true)
 |-- color: string (nullable = true)
 |-- interior: string (nullable = true)
 |-- seller: string (nullable = true)
 |-- mmr: string (nullable = true)
 |-- sellingprice: string (nullable = true)
 |-- saledate: string (nullable = true)

+----+---------+-------------------+--------------------+-----------+------------+-----------------+-----+---------+--------+------+--------+--------------------+-------+------------+--------------------+
|year|     make|              model|                trim|       body|transmission|              vin|state|condition|odometer| color|interior|              seller|    mmr|sellingprice|            saledate|
+----+---------+-------------------+--------------------+-----------+------------+-----------------+-----+---------+--------+------+--------+--------------------+-------+------------+--------------------+
|2015|      Kia|            Sorento|                  LX|        SUV|   automatic|5xyktca69fg566472|   ca|      5.0| 16639.0| white|   black|kia motors americ...|20500.0|     21500.0|Tue Dec 16 2014 1...|
|2015|      Kia|            Sorento|                  LX|        SUV|   automatic|5xyktca69fg561319|   ca|      5.0|  9393.0| white|   beige|kia motors americ...|20800.0|     21500.0|Tue Dec 16 2014 1...|
|2014|      BMW|           3 Series|          328i SULEV|      Sedan|   automatic|wba3c1c51ek116351|   ca|     45.0|  1331.0|  gray|   black|financial service...|31900.0|     30000.0|Thu Jan 15 2015 0...|
|2015|    Volvo|                S60|                  T5|      Sedan|   automatic|yv1612tb4f1310987|   ca|     41.0| 14282.0| white|   black|volvo na rep/worl...|27500.0|     27750.0|Thu Jan 29 2015 0...|
|2014|      BMW|6 Series Gran Coupe|                650i|      Sedan|   automatic|wba6b2c57ed129731|   ca|     43.0|  2641.0|  gray|   black|financial service...|66000.0|     67000.0|Thu Dec 18 2014 1...|
|2015|   Nissan|             Altima|               2.5 S|      Sedan|   automatic|1n4al3ap1fn326013|   ca|      1.0|  5554.0|  gray|   black|enterprise vehicl...|15350.0|     10900.0|Tue Dec 30 2014 1...|
|2014|      BMW|                 M5|                Base|      Sedan|   automatic|wbsfv9c51ed593089|   ca|     34.0| 14943.0| black|   black|the hertz corpora...|69000.0|     65000.0|Wed Dec 17 2014 1...|
|2014|Chevrolet|              Cruze|                 1LT|      Sedan|   automatic|1g1pc5sb2e7128460|   ca|      2.0| 28617.0| black|   black|enterprise vehicl...|11900.0|      9800.0|Tue Dec 16 2014 1...|
|2014|     Audi|                 A4|2.0T Premium Plus...|      Sedan|   automatic|wauffafl3en030343|   ca|     42.0|  9557.0| white|   black|  audi mission viejo|32100.0|     32250.0|Thu Dec 18 2014 1...|
|2014|Chevrolet|             Camaro|                  LT|Convertible|   automatic|2g1fb3d37e9218789|   ca|      3.0|  4809.0|   red|   black|  d/m auto sales inc|26300.0|     17500.0|Tue Jan 20 2015 0...|
|2014|     Audi|                 A6|3.0T Prestige qua...|      Sedan|   automatic|wauhgafc0en062916|   ca|     48.0| 14414.0| black|   black|   desert auto trade|47300.0|     49750.0|Tue Dec 16 2014 1...|
|2015|      Kia|             Optima|                  LX|      Sedan|   automatic|5xxgm4a73fg353538|   ca|     48.0|  2034.0|   red|     tan|  kia motors finance|15150.0|     17700.0|Tue Dec 16 2014 1...|
|2015|     Ford|             Fusion|                  SE|      Sedan|   automatic|3fa6p0hdxfr145753|   ca|      2.0|  5559.0| white|   beige|enterprise vehicl...|15350.0|     12000.0|Tue Jan 13 2015 1...|
|2015|      Kia|            Sorento|                  LX|        SUV|   automatic|5xyktca66fg561407|   ca|      5.0| 14634.0|silver|   black|kia motors americ...|20600.0|     21500.0|Tue Dec 16 2014 1...|
|2015|   Nissan|             Altima|               2.5 S|      Sedan|   automatic|1n4al3ap5fc124223|   ca|      2.0| 11398.0| black|   black|enterprise vehicl...|14750.0|     14100.0|Tue Dec 23 2014 1...|
|2014|     Audi|                 Q5|2.0T Premium Plus...|        SUV|   automatic|wa1lfafpxea085074|   ca|     49.0|  7983.0| white|   black|audi north scotts...|37100.0|     40000.0|Thu Dec 18 2014 1...|
|2014|Chevrolet|             Camaro|                  LS|      Coupe|   automatic|2g1fa1e39e9134494|   ca|     17.0| 13441.0| black|   black|wells fargo deale...|17750.0|     17000.0|Tue Dec 30 2014 1...|
|2014|      BMW|           6 Series|                650i|Convertible|   automatic|wbayp9c53ed169260|   ca|     34.0|  8819.0| black|   black|the hertz corpora...|68000.0|     67200.0|Wed Dec 17 2014 1...|
|2015|Chevrolet|             Impala|                 LTZ|      Sedan|   automatic|2g1165s30f9103921|   ca|     19.0| 14538.0|silver|   black|enterprise vehicl...|24300.0|      7200.0|Tue Jul 07 2015 0...|
|2014|      BMW|           5 Series|                528i|      Sedan|   automatic|wba5a5c51ed501631|   ca|     29.0| 25969.0| black|   black|financial service...|34200.0|     30000.0|Tue Feb 03 2015 0...|
+----+---------+-------------------+--------------------+-----------+------------+-----------------+-----+---------+--------+------+--------+--------------------+-------+------------+--------------------+
only showing top 20 rows

AnalysisException: Temporary view 'car_prices' already exists

In [ ]:
# 年份统计
# show(n=30) n表示最多展示的行数
df.select('*').groupBy('year').count().sort('year',ascending=False).show(n=30)

+----+-----+
|year|count|
+----+-----+
|2015| 7994|
|2014|69712|
|2013|87467|
|2012|87380|
|2011|41384|
|2010|22616|
|2009|17959|
|2008|27011|
|2007|25378|
|2006|21631|
|2005|17169|
|2004|13624|
|2003|10368|
|2002| 7693|
|2001| 5140|
|2000| 3427|
|1999| 2227|
|1998| 1464|
|1997| 1042|
|1996|  562|
|1995|  483|
|1994|  286|
|1993|  127|
|1992|   97|
|1991|   51|
|1990|   33|
+----+-----+

In [ ]:
# make统计

df.select('*').groupBy('make').count().sort('count',ascending=False).show(n=30)

+-------------+-----+
|         make|count|
+-------------+-----+
|         Ford|81013|
|    Chevrolet|54150|
|       Nissan|44043|
|       Toyota|35313|
|        Dodge|27181|
|        Honda|24781|
|      Hyundai|18659|
|          BMW|17509|
|          Kia|15828|
|     Chrysler|15133|
|     Infiniti|14011|
|Mercedes-Benz|14008|
|         Jeep|12735|
|   Volkswagen|10780|
|        Lexus|10409|
|          GMC| 9217|
|        Mazda| 6930|
|     Cadillac| 6315|
|      Lincoln| 4926|
|         Audi| 4802|
|        Acura| 4503|
|        Buick| 4470|
|       Subaru| 4369|
|          Ram| 4044|
|      Pontiac| 4018|
|   Mitsubishi| 3661|
|        Volvo| 3082|
|         MINI| 2946|
|       Saturn| 2570|
|      Mercury| 1571|
+-------------+-----+
only showing top 30 rows

In [37]:
# 车型统计信息

sql = '''
SELECT make, model, count(*) as total
FROM car_prices
GROUP BY make, model
ORDER BY make ASC, model DESC
'''

spark.sql(sqlQuery=sql).show(n=50)

+------------+---------------+-----+
|        make|          model|total|
+------------+---------------+-----+
|       Acura|            mdx|    1|
|       Acura|            ZDX|   28|
|       Acura|TSX Sport Wagon|   28|
|       Acura|            TSX|  789|
|       Acura|            TLX|    1|
|       Acura|             TL| 1649|
|       Acura|            RSX|  130|
|       Acura|            RLX|   13|
|       Acura|             RL|   91|
|       Acura|            RDX|  300|
|       Acura|            MDX| 1236|
|       Acura|         Legend|    7|
|       Acura|        Integra|   40|
|       Acura|            ILX|  103|
|       Acura|             CL|   87|
|Aston Martin|     V8 Vantage|   16|
|Aston Martin|         Rapide|    2|
|Aston Martin|            DB9|    6|
|        Audi|allroad quattro|   30|
|        Audi|        allroad|   39|
|        Audi|            TTS|    6|
|        Audi|          TT RS|    3|
|        Audi|             TT|  109|
|        Audi|            SQ5|    6|
|        Audi|             S8|   16|
|        Audi|             S7|    7|
|        Audi|             S6|   23|
|        Audi|             S5|  123|
|        Audi|             S4|  172|
|        Audi|           RS 7|    8|
|        Audi|           RS 6|    5|
|        Audi|           RS 5|   13|
|        Audi|           RS 4|    3|
|        Audi|             R8|   32|
|        Audi|             Q7|  375|
|        Audi|             Q5|  408|
|        Audi|             Q3|    1|
|        Audi|             A8|  251|
|        Audi|             A7|  102|
|        Audi|             A6|  666|
|        Audi|             A5|  302|
|        Audi|             A4| 1888|
|        Audi|             A3|  214|
|         BMW|             i8|    9|
|         BMW|           Z4 M|    5|
|         BMW|             Z4|  247|
|         BMW|             Z3|   57|
|         BMW|           X6 M|   24|
|         BMW|             X6|  205|
|         BMW|           X5 M|   27|
+------------+---------------+-----+
only showing top 50 rows

In [38]:
# 最好卖的车型top

sql = '''
SELECT make, model, count(*) as total
FROM car_prices
GROUP BY make, model
ORDER BY total DESC
'''

spark.sql(sqlQuery=sql).show(n=50)

+-------------+----------------+-----+
|         make|           model|total|
+-------------+----------------+-----+
|       Nissan|          Altima|16346|
|         Ford|          Fusion|12116|
|         Ford|           F-150|11950|
|       Toyota|           Camry|10986|
|         Ford|          Escape|10656|
|         Ford|           Focus| 9547|
|        Honda|          Accord| 8528|
|    Chevrolet|          Impala| 7500|
|          BMW|        3 Series| 7132|
|        Honda|           Civic| 7068|
|        Dodge|   Grand Caravan| 6966|
|     Infiniti|         G Sedan| 6939|
|       Toyota|         Corolla| 6745|
|         Ford|        Explorer| 6242|
|    Chevrolet|          Malibu| 6213|
|      Hyundai|          Sonata| 5787|
|    Chevrolet|  Silverado 1500| 5685|
|       Nissan|          Maxima| 5470|
|    Chevrolet|           Cruze| 5404|
|      Hyundai|         Elantra| 5343|
|         Ford|            Edge| 5098|
|     Chrysler|Town and Country| 5053|
|         Ford|         Mustang| 4522|
|Mercedes-Benz|         C-Class| 4441|
|    Chevrolet|         Equinox| 4338|
|       Nissan|          Sentra| 4226|
|         Ford|          Taurus| 4180|
|       Nissan|           Rogue| 4177|
|   Volkswagen|           Jetta| 3990|
|        Dodge|         Charger| 3989|
|        Dodge|         Avenger| 3788|
|          Kia|          Optima| 3755|
|     Chrysler|             200| 3715|
|         Jeep|  Grand Cherokee| 3670|
|          BMW|        5 Series| 3479|
|     Chrysler|             300| 3319|
|         Jeep|        Wrangler| 3132|
|Mercedes-Benz|         E-Class| 3058|
|       Toyota|            RAV4| 3017|
|        Honda|         Odyssey| 2991|
|          Kia|         Sorento| 2914|
|          Ram|            1500| 2838|
|   Volkswagen|          Passat| 2783|
|    Chevrolet|           Tahoe| 2735|
|        Honda|            CR-V| 2718|
|        Dodge|         Journey| 2693|
|       Toyota|          Sienna| 2499|
|          Kia|           Forte| 2470|
|          Kia|            Soul| 2437|
|       Nissan|          Murano| 2436|
+-------------+----------------+-----+
only showing top 50 rows